interpreter/macos/tui/tui.xcodeproj/project.xcworkspace/xcuserdata
interpreter/macos/tui/tui.xcodeproj/xcuserdata
.DS_Store
.DS_Store
interpreter/linux/build
interpreter/linux/bin
interpreter/linux/tui
